In [5]:
import pandas as pd
import warnings, datetime
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "last_expr"
warnings.filterwarnings("ignore")

In [6]:
import random

movies = pd.read_csv('movie_metadata.csv')
movies['genres'] = movies.apply(lambda row: random.choice(row.genres.replace('|', ' ').split()), axis=1)

In [7]:
missing_df = movies.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(movies.shape[0]-missing_df['missing values'])/movies.shape[0]*100
missing_df.sort_values('filling factor (%)').reset_index(drop = True)

                     variable  missing values  filling factor (%)
0                       gross             884           82.470752
1                      budget             492           90.243902
2                aspect_ratio             329           93.476105
3              content_rating             303           93.991672
4               plot_keywords             153           96.966092
5                  title_year             108           97.858418
6               director_name             104           97.937735
7     director_facebook_likes             104           97.937735
8      num_critic_for_reviews              50           99.008527
9      actor_3_facebook_likes              23           99.543922
10               actor_3_name              23           99.543922
11       num_user_for_reviews              21           99.583581
12                      color              19           99.623240
13                   duration              15           99.702558
14       facenumber_in_poster              13           99.742217
15               actor_2_name              13           99.742217
16     actor_2_facebook_likes              13           99.742217
17                   language              12           99.762046
18     actor_1_facebook_likes               7           99.861194
19               actor_1_name               7           99.861194
20                    country               5           99.900853
21                 imdb_score               0          100.000000
22  cast_total_facebook_likes               0          100.000000
23            num_voted_users               0          100.000000
24                movie_title               0          100.000000
25                     genres               0          100.000000
26            movie_imdb_link               0          100.000000
27       movie_facebook_likes               0          100.000000

In [8]:
count = movies['imdb_score'].value_counts()
count

6.7    223
6.6    201
7.2    195
6.5    186
6.4    185
7.3    184
7.0    184
7.1    181
6.8    181
6.1    179
6.3    176
6.2    175
6.9    174
7.4    147
5.9    144
7.5    140
6.0    131
7.6    124
5.8    124
5.7    117
7.7    114
5.6    112
7.8    106
5.4    104
5.5     98
5.3     92
8.0     75
7.9     75
5.1     71
8.1     69
      ...
3.5     15
3.9     14
3.8     14
3.6     14
8.7     13
3.4     12
2.8      9
3.7      9
3.1      8
8.8      7
3.2      7
2.7      6
3.0      5
8.9      5
2.9      4
2.2      3
2.1      3
1.9      3
9.0      3
9.1      3
2.3      3
2.5      2
2.0      2
2.4      2
2.6      2
9.3      1
1.7      1
9.5      1
9.2      1
1.6      1
Name: imdb_score, Length: 78, dtype: int64

In [9]:
all_actors = set(movies['actor_1_name'].tolist() + movies['actor_2_name'].tolist() + movies['actor_3_name'].tolist())
all_actors
len(all_actors)

6256

In [10]:
all_genres = set(movies['genres'].tolist())
all_genres

{'Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Thriller',
 'War',
 'Western'}

In [11]:
all_directors = set(movies['director_name'].tolist())
all_directors
len(all_directors)

2399

In [12]:
movies = movies[['imdb_score', 'budget', 'content_rating', 'director_name', 'director_facebook_likes', 'actor_3_facebook_likes', 'actor_3_name', 'actor_2_facebook_likes', 'actor_2_name', 'actor_1_facebook_likes', 'actor_1_name', 'cast_total_facebook_likes', 'genres']]
movies.head()

,imdb_score,budget,content_rating,director_name,director_facebook_likes,actor_3_facebook_likes,actor_3_name,actor_2_facebook_likes,actor_2_name,actor_1_facebook_likes,actor_1_name,cast_total_facebook_likes,genres
0,7.9,237000000.0,PG-13,James Cameron,0.0,855.0,Wes Studi,936.0,Joel David Moore,1000.0,CCH Pounder,4834,Action
1,7.1,300000000.0,PG-13,Gore Verbinski,563.0,1000.0,Jack Davenport,5000.0,Orlando Bloom,40000.0,Johnny Depp,48350,Adventure
2,6.8,245000000.0,PG-13,Sam Mendes,0.0,161.0,Stephanie Sigman,393.0,Rory Kinnear,11000.0,Christoph Waltz,11700,Action
3,8.5,250000000.0,PG-13,Christopher Nolan,22000.0,23000.0,Joseph Gordon-Levitt,23000.0,Christian Bale,27000.0,Tom Hardy,106759,Action
4,7.1,NaN,NaN,Doug Walker,131.0,NaN,NaN,12.0,Rob Walker,131.0,Doug Walker,143,Documentary

In [13]:
actor_id = 0
actor_name_dict = {}
for actor in all_actors:
    actor_name_dict[actor] = actor_id
    actor_id += 1

len(actor_name_dict)

6256

In [14]:
genre_id = 0
genre_dict = {}
for genre in all_genres:
    genre_dict[genre] = genre_id
    genre_id += 1

len(genre_dict)

23

In [15]:
def strip_ratings(rating):
    if rating == 'Unrated' or rating == 'NC-17' or rating == 'X' or rating == 'TV-MA':
        return 'R'
    elif rating == 'TV-14':
        return 'PG-13'
    elif rating == 'Approved' or rating == 'TV-PG' or rating == 'Not Rated' or rating == 'Passed' or rating == 'GP' or rating == 'M':
        return 'PG'
    elif rating == 'TV-G' or rating == 'TV-Y' or rating == 'TV-Y7':
        return 'G'
    return rating

movies['content_rating'] = movies['content_rating'].apply(strip_ratings)

In [16]:
all_content_ratings = set(movies['content_rating'].tolist())

content_id = 0
content_rating_dict = {}
for rating in all_content_ratings:
    content_rating_dict[rating] = content_id
    content_id += 1

len(content_rating_dict)

5

In [17]:
director_id = 0
director_name_dict = {}
for director in all_directors:
    director_name_dict[director] = director_id
    director_id += 1

len(director_name_dict)

2399

In [18]:
# discretize our data
movies['actor_1_name'] = movies.apply(lambda row: actor_name_dict[row.actor_1_name], axis=1)

In [19]:
movies['actor_2_name'] = movies.apply(lambda row: actor_name_dict[row.actor_2_name], axis=1)

In [20]:
movies['actor_3_name'] = movies.apply(lambda row: actor_name_dict[row.actor_3_name], axis=1)

In [21]:
movies['director_name'] = movies.apply(lambda row: director_name_dict[row.director_name], axis=1)

In [22]:
movies['genres'] = movies.apply(lambda row: genre_dict[row.genres], axis=1)

In [23]:
movies['content_rating'] = movies.apply(lambda row: content_rating_dict[row.content_rating], axis=1)

In [24]:
movies.to_csv('final_data.csv', index=False)

In [25]:
movies["budget"].fillna(movies["budget"].mean(), inplace=True)
movies.head()

,imdb_score,budget,content_rating,director_name,director_facebook_likes,actor_3_facebook_likes,actor_3_name,actor_2_facebook_likes,actor_2_name,actor_1_facebook_likes,actor_1_name,cast_total_facebook_likes,genres
0,7.9,2.370000e+08,2,319,0.0,855.0,5607,936.0,1631,1000.0,405,4834,15
1,7.1,3.000000e+08,2,1364,563.0,1000.0,4908,5000.0,855,40000.0,1619,48350,11
2,6.8,2.450000e+08,2,2155,0.0,161.0,3416,393.0,4732,11000.0,2329,11700,15
3,8.5,2.500000e+08,2,436,22000.0,23000.0,1510,23000.0,4913,27000.0,1933,106759,15
4,7.1,3.975262e+07,0,2047,131.0,NaN,0,12.0,1442,131.0,6016,143,16

In [26]:
movies["budget"].mean()

39752620.436387606

In [27]:
movies.to_csv('final_data.csv', index=False)

In [28]:
missing_df = movies.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(movies.shape[0]-missing_df['missing values'])/movies.shape[0]*100
missing_df.sort_values('filling factor (%)').reset_index(drop = True)

                     variable  missing values  filling factor (%)
0     director_facebook_likes             104           97.937735
1      actor_3_facebook_likes              23           99.543922
2      actor_2_facebook_likes              13           99.742217
3      actor_1_facebook_likes               7           99.861194
4                  imdb_score               0          100.000000
5                      budget               0          100.000000
6              content_rating               0          100.000000
7               director_name               0          100.000000
8                actor_3_name               0          100.000000
9                actor_2_name               0          100.000000
10               actor_1_name               0          100.000000
11  cast_total_facebook_likes               0          100.000000
12                     genres               0          100.000000

In [29]:
movies["director_facebook_likes"].fillna(movies["director_facebook_likes"].mean(), inplace=True)
movies["actor_3_facebook_likes"].fillna(movies["actor_3_facebook_likes"].mean(), inplace=True)
movies["actor_2_facebook_likes"].fillna(movies["actor_2_facebook_likes"].mean(), inplace=True)
movies["actor_1_facebook_likes"].fillna(movies["actor_1_facebook_likes"].mean(), inplace=True)

In [30]:
missing_df = movies.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(movies.shape[0]-missing_df['missing values'])/movies.shape[0]*100
missing_df.sort_values('filling factor (%)').reset_index(drop = True)

                     variable  missing values  filling factor (%)
0                  imdb_score               0               100.0
1                      budget               0               100.0
2              content_rating               0               100.0
3               director_name               0               100.0
4     director_facebook_likes               0               100.0
5      actor_3_facebook_likes               0               100.0
6                actor_3_name               0               100.0
7      actor_2_facebook_likes               0               100.0
8                actor_2_name               0               100.0
9      actor_1_facebook_likes               0               100.0
10               actor_1_name               0               100.0
11  cast_total_facebook_likes               0               100.0
12                     genres               0               100.0

In [31]:
movies.to_csv('final_data.csv', index=False)

In [32]:
count = movies['imdb_score'].value_counts()
count

6.7    223
6.6    201
7.2    195
6.5    186
6.4    185
7.3    184
7.0    184
7.1    181
6.8    181
6.1    179
6.3    176
6.2    175
6.9    174
7.4    147
5.9    144
7.5    140
6.0    131
7.6    124
5.8    124
5.7    117
7.7    114
5.6    112
7.8    106
5.4    104
5.5     98
5.3     92
8.0     75
7.9     75
5.1     71
8.1     69
      ...
3.5     15
3.9     14
3.8     14
3.6     14
8.7     13
3.4     12
2.8      9
3.7      9
3.1      8
8.8      7
3.2      7
2.7      6
3.0      5
8.9      5
2.9      4
2.2      3
2.1      3
1.9      3
9.0      3
9.1      3
2.3      3
2.5      2
2.0      2
2.4      2
2.6      2
9.3      1
1.7      1
9.5      1
9.2      1
1.6      1
Name: imdb_score, Length: 78, dtype: int64

In [33]:
import pickle

with open('actors.pickle', 'wb') as handle:
    pickle.dump(actor_name_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)
with open('directors.pickle', 'wb') as handle:
    pickle.dump(director_name_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)
with open('genre.pickle', 'wb') as handle:
    pickle.dump(genre_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)
with open('content_ratings.pickle', 'wb') as handle:
    pickle.dump(content_rating_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [34]:
movies

,imdb_score,budget,content_rating,director_name,director_facebook_likes,actor_3_facebook_likes,actor_3_name,actor_2_facebook_likes,actor_2_name,actor_1_facebook_likes,actor_1_name,cast_total_facebook_likes,genres
0,7.9,2.370000e+08,2,319,0.000000,855.000000,5607,936.0,1631,1000.0,405,4834,15
1,7.1,3.000000e+08,2,1364,563.000000,1000.000000,4908,5000.0,855,40000.0,1619,48350,11
2,6.8,2.450000e+08,2,2155,0.000000,161.000000,3416,393.0,4732,11000.0,2329,11700,15
3,8.5,2.500000e+08,2,436,22000.000000,23000.000000,1510,23000.0,4913,27000.0,1933,106759,15
4,7.1,3.975262e+07,0,2047,131.000000,645.009761,0,12.0,1442,131.0,6016,143,16
5,6.6,2.637000e+08,2,1985,475.000000,530.000000,1251,632.0,45,640.0,1410,1873,15
6,6.2,2.580000e+08,2,75,0.000000,4000.000000,2989,11000.0,5542,24000.0,466,46055,15
7,7.8,2.600000e+08,4,464,15.000000,284.000000,48,553.0,652,799.0,2709,2036,17
8,7.5,2.500000e+08,2,1823,0.000000,19000.000000,744,21000.0,2413,26000.0,2964,92000,11
9,7.5,2.500000e+08,4,959,282.000000,10000.000000,3821,11000.0,5391,25000.0,1499,58753,11
10,6.9,2.500000e+08,2,2338,0.000000,2000.000000,1090,4000.0,3615,15000.0,2885,24450,11
11,6.1,2.090000e+08,2,2015,0.000000,903.000000,2124,10000.0,4038,18000.0,6235,29991,11
12,6.7,2.000000e+08,2,1276,395.000000,393.000000,4732,412.0,845,451.0,6149,2023,11
13,7.3,2.250000e+08,2,1364,563.000000,1000.000000,4908,5000.0,855,40000.0,1619,48486,20
14,6.5,2.150000e+08,2,1364,563.000000,1000.000000,1385,2000.0,2439,40000.0,1619,45757,11
15,7.2,2.250000e+08,2,2338,0.000000,748.000000,4674,3000.0,5661,15000.0,2885,20495,0
16,6.6,2.250000e+08,4,1007,80.000000,201.000000,5222,216.0,1384,22000.0,1838,22697,19
17,8.1,2.200000e+08,2,1823,0.000000,19000.000000,744,21000.0,2413,26000.0,2964,87697,11
18,6.7,2.500000e+08,2,2115,252.000000,1000.000000,5164,11000.0,3482,40000.0,1619,54083,11
19,6.8,2.250000e+08,2,2063,188.000000,718.000000,1976,816.0,831,10000.0,3737,12572,19
20,7.5,2.500000e+08,2,2316,0.000000,773.000000,5523,972.0,3094,5000.0,215,9152,11
21,7.0,2.300000e+08,2,274,464.000000,963.000000,2865,10000.0,5083,15000.0,63,28489,15
22,6.7,2.000000e+08,2,1224,0.000000,738.000000,3479,882.0,5841,891.0,641,3244,15
23,7.9,2.250000e+08,2,2316,0.000000,773.000000,5523,972.0,3094,5000.0,215,9152,20
24,6.1,1.800000e+08,2,1748,129.000000,1000.000000,2526,6000.0,360,16000.0,3864,24106,19
25,7.2,2.070000e+08,2,2316,0.000000,84.000000,5247,919.0,5441,6000.0,4955,7123,2
26,7.7,2.000000e+08,2,319,0.000000,794.000000,3753,14000.0,5118,29000.0,5780,45223,14
27,8.2,2.500000e+08,2,1012,94.000000,11000.000000,4538,19000.0,744,21000.0,2413,64798,15
28,5.9,2.090000e+08,2,1797,532.000000,627.000000,1275,10000.0,1053,14000.0,3260,26679,11
29,7.0,1.500000e+08,2,619,365.000000,1000.000000,144,2000.0,1036,3000.0,3091,8458,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5013,7.0,2.400000e+04,0,1660,3.000000,42.000000,2255,46.0,5646,93.0,1706,243,19
5014,6.3,3.975262e+07,1,2298,892.000000,492.000000,3687,918.0,1361,986.0,914,3197,1
5015,7.1,2.300000e+04,1,1158,0.000000,0.000000,104,0.0,2342,5.0,6180,5,5
5016,4.8,2.500000e+04,0,571,0.000000,9.000000,5478,25.0,2450,313.0,5103,366,10
5017,3.3,2.200000e+04,0,1482,138.000000,138.000000,5613,184.0,148,370.0,1875,841,5
5018,6.9,2.000000e+04,0,1630,589.000000,4.000000,5969,49.0,599,51.0,3149,108,14
5019,4.6,3.975262e+07,1,863,158.000000,265.000000,2814,512.0,5037,630.0,3210,2679,10
5020,3.0,1.735000e+04,0,1776,8.000000,8.000000,1255,19.0,2118,720.0,494,770,14
5021,6.6,1.500000e+04,1,52,157.000000,10.000000,5357,224.0,5035,830.0,5648,1064,5
5022,7.4,1.500000e+04,0,2196,0.000000,4.000000,1839,19.0,3301,147.0,733,170,14
5023,6.2,1.500000e+04,0,1264,38.000000,211.000000,3664,212.0,4759,331.0,5196,1546,2
5024,4.0,2.000000e+04,1,824,91.000000,86.000000,3428,91.0,573,407.0,359,674,0
5025,6.1,1.000000e+04,1,559,0.000000,105.000000,5499,143.0,2942,462.0,4728,760,1
5026,6.9,4.500000e+03,1,2118,107.000000,45.000000,3306,133.0,4330,576.0,351,776,2
5027,7.5,1.000000e+04,4,1873,397.000000,0.000000,2467,0.0,1894,5.0,3223,5,14
5028,6.7,1.000000e+04,0,1756,18.000000,0.000000,293,5.0,419,10.0,2119,15,7
5029,7.4,1.000000e+06,0,400,62.000000,6.000000,3309,13.0,5956,89.0,697,115,10
5030,6.1,3.975262e+07,0,1088,5.000000,12.000000,4869,20.0,5682,21.0,2958,62,14
5031,5.4,2.000000e+05,0,1992,120.000000,84.000000,3220,98.0,3270,785.0,5416,1111,10
5032,6.4,3.975262e+07,0,1903,3.000000,152.000000,4026,194.0,1024,789.0,4830,1186,1
5033,7.0,7.000000e+03,2,1741,291.000000,8.000000,3204,45.0,5516,291.0,4243,368,10
5034,6.3,7.000000e+03,4,526,0.000000,0.000000,202,0.0,223,0.0,2105,0,10
5035,6.9,7.000000e+03,1,1297,0.000000,6.000000,5586,20.0,538,121.0,5865,147,10
5036,7.8,3.250000e+03,2,1463,2.000000,2.000000,6230,44.0,4661,45.0,1119,93,14
5037,6.4,9.000000e+03,4,1025,0.000000,133.000000,4743,205.0,1843,296.0,4132,690,5
5038,7.7,3.975262e+07,0,1486,2.000000,318.000000,4792,470.0,3318,637.0,3720,2283,5
5039,7.5,3.975262e+07,2,0,686.509212,319.000000,4922,593.0,4302,841.0,3089,1753,14
5040,6.3,1.400000e+03,0,1067,0.000000,0.000000,2776,0.0,1116,0.0,4197,0,14
5041,6.3,3.975262e+07,2,1112,0.000000,489.000000,970,719.0,821,946.0,2040,2386,5
5042,6.6,1.100000e+03,4,1521,16.000000,16.000000,2563,23.0,1296,86.0,4942,163,16

In [35]:
from sklearn.ensemble import RandomForestRegressor
import pickle
from sklearn.externals import joblib

forest = joblib.load('model.pkl')
forest.predict([[185000000.0,2,436,0,0,0,12]])


# [['budget', 'content_rating', 'director_name', 'actor_3_name', 'actor_2_name', 'actor_1_name', 'genres']]

# budget 185000000.0
# content rating 2
# director name 436
# genre 12
# actor_1_name 4913
# actor_2_name 438
# actor 3 name 3865

array([ 6.98])

In [36]:
actor_name_dict

{nan: 0,
 'Jacki Weaver': 1,
 'Lymari Nadal': 2,
 'Paul McGill': 3,
 "Ta'Rhonda Jones": 4,
 'James Le Gros': 5,
 'Jemima West': 1051,
 'Rick Fox': 3167,
 'Tyra Banks': 8,
 'Reda Kateb': 9,
 'Sean Maher': 10,
 'Dorothy Lyman': 11,
 'Denis Lavant': 12,
 'Jack Elam': 13,
 'Julie Kavner': 14,
 'Brian Austin Green': 15,
 'Carol Block': 16,
 'Omar Benson Miller': 17,
 'Dell Yount': 18,
 'Ryan Kruger': 19,
 'Ed Quinn': 20,
 'Maximilian Dirr': 21,
 'Brian Bosworth': 22,
 'Dequina Moore': 23,
 'Frank Dillane': 25,
 'Adrienne Frantz': 26,
 'Paula Abdul': 27,
 'Neil Flynn': 28,
 'John Howard': 29,
 'Jesse L. Martin': 30,
 'David Eigenberg': 31,
 'Bobby Campo': 32,
 'Elena Anaya': 33,
 'Victor Webster': 34,
 'Tempestt Bledsoe': 35,
 'Benjamin A. Onyango': 36,
 'Marcia Wallace': 37,
 'David Barnes': 38,
 'Anne Bancroft': 39,
 'Frank McHugh': 40,
 'Jamie Ren\xc3\xa9e Smith': 41,
 'Breckin Meyer': 42,
 'James Patrick Stuart': 43,
 'Adam LeFevre': 44,
 'Samantha Morton': 45,
 'Hiroyuki Ikeuchi': 273,
 'Christopher Heyerdahl': 47,
 'Reba McEntire': 3174,
 'Fann Wong': 49,
 'Xinhua Jiang': 50,
 'Will Geer': 1197,
 'Ben Crompton': 51,
 'Ricky Martin': 52,
 'Jason Lewis': 53,
 'Curt Doussett': 54,
 'Owen Teale': 55,
 'Mason Lee': 56,
 'Gloria Foster': 57,
 'Katie Leclerc': 58,
 'Denise Boutte': 59,
 'Jossara Jinaro': 60,
 'Christina Milian': 61,
 'Jay Leno': 62,
 'Emma Stone': 63,
 'Taliesin Jaffe': 64,
 'Tim Choate': 65,
 'Paul McGillion': 66,
 'Tao Okamoto': 67,
 'Stephen Amell': 68,
 'William Sanderson': 69,
 'Marley Shelton': 70,
 'William McNamara': 71,
 'Thelma Ritter': 72,
 'Jeremy Owen': 73,
 'D.B. Woodside': 74,
 'Tim Russ': 75,
 'Ayush Mahesh Khedekar': 76,
 "Robert Ri'chard": 77,
 'Claudia Lapac\xc3\xb3': 24,
 'Nicholas Turturro': 79,
 'Kimberly J. Brown': 80,
 'Michael Bolten': 81,
 'M\xc3\xa9lanie Doutey': 82,
 'Nicholas Aaron': 83,
 'Paul T. Taylor': 84,
 'Leslie Carlson': 85,
 'Kevin Chamberlin': 86,
 'George Raft': 87,
 'Wendy Raquel Robinson': 88,
 'Brooke Smith': 89,
 'Erin Daniels': 90,
 'Troy Garity': 91,
 'David Zayas': 92,
 'Mary Kay Place': 93,
 'John Ralston': 94,
 'Cynthia Stevenson': 1064,
 'Riz Ahmed': 96,
 'Bruce Newbold': 97,
 'Michael Winslow': 98,
 'Russell Peters': 5339,
 'Richard Crenna': 99,
 'Richard T. Jones': 100,
 'Ranin Karim': 101,
 'Katherine LaNasa': 102,
 'Greer Garson': 103,
 'Jean Caffeine': 104,
 'Robert Capron': 105,
 'Jessie T. Usher': 106,
 'Daren Kagasoff': 6226,
 'Jessalyn Gilsig': 107,
 'Amanda Detmer': 108,
 'Caity Lotz': 109,
 'Steve Duin': 684,
 'Ed Lauter': 111,
 'Michael Weston': 112,
 'Michel Simon': 113,
 '\xc3\x93lafur Darri \xc3\x93lafsson': 114,
 'Eduard Fern\xc3\xa1ndez': 115,
 'Paul Sheehan': 116,
 'Clint Howard': 117,
 'Burgess Meredith': 118,
 'Hope Olaide Wilson': 119,
 'Stockard Channing': 120,
 'Shawn Yue': 121,
 'Lee Scott': 122,
 'Kevin McGowan': 123,
 'St\xc3\xa9phane Rousseau': 124,
 'Jacques Perrin': 5190,
 'Kelly Macdonald': 126,
 'Treat Williams': 127,
 'Daniel Bernhardt': 128,
 'John Amos': 129,
 'Derek Jacobi': 130,
 'Earl Cameron': 826,
 'Heather Langenkamp': 132,
 'Yaphet Kotto': 133,
 'David Richmond-Peck': 134,
 'John Light': 135,
 'Ronn Moss': 136,
 'Ewen Bremner': 137,
 'Danny Rhodes': 138,
 'Clayne Crawford': 139,
 'Katrina Law': 140,
 'Billie Whitelaw': 141,
 'Emmanuelle Bercot': 142,
 'Dick Cheney': 143,
 'Omar Sy': 144,
 'Nicole de Boer': 890,
 'Patrick Gallagher': 146,
 'Loretta Devine': 147,
 'Suzi Lorraine': 148,
 'Joe Cornish': 149,
 'Alexandre Rodrigues': 150,
 'Chlo\xc3\xab Grace Moretz': 151,
 'Helen Hayes': 152,
 'Hanne Aagesen': 153,
 'Diljit Dosanjh': 2120,
 'Maribel Verd\xc3\xba': 156,
 'Mike Block': 157,
 'Darren E. Burrows': 158,
 'Chris Klein': 159,
 'Kayla Ewell': 160,
 'Jan Decleir': 161,
 'Judith Barsi': 162,
 'Raphael Barker': 163,
 'Claire Gordon-Harper': 164,
 'Kelly Brook': 1079,
 'Brigitte Nielsen': 166,
 "Ahna O'Reilly": 3189,
 'Steve-O': 168,
 'Tawny Kitaen': 169,
 'Fred Ward': 170,
 'Michael Welch': 171,
 'Marisol Nichols': 172,
 'Emily Watson': 173,
 'Scott Reeves': 174,
 'Laura San Giacomo': 175,
 'Michael Higgenbottom': 176,
 'Leonard Roberts': 177,
 'Natalie Stephany Aguilar': 1030,
 'Danielle Darrieux': 178,
 'Scott Baio': 179,
 'Amber Stevens West': 180,
 'Deborah Kara Unger': 181,
 'Gage Golightly': 182,
 'Nick Wechsler': 183,
 'Bruce Davison': 184,
 'Donald Rumsfeld': 185,
 'James McCaffrey': 186,
 'Mimi Rogers': 187,
 'Jelena Jovanova': 188,
 'Penn Jillette': 189,
 'Jean Arthur': 190,
 'Dexter Fletcher': 191,
 'Cem Yilmaz': 1109,
 'Akira Terao': 193,
 'David Backus': 194,
 'Kate Higgins': 195,
 'Ricky Catter': 196,
 'Mark Feuerstein': 197,
 'Steve Burg': 198,
 'Noah Taylor': 199,
 'Nia Vardalos': 201,
 'Quynn Ton': 202,
 'Vernon Wells': 203,
 'Ava Gardner': 204,
 'Peter Krause': 205,
 'Kendrick Cross': 207,
 'Demi Moore': 208,
 'Ben Mendelsohn': 209,
 'Carol Channing': 210,
 'Jacob Latimore': 211,
 'Ken Howard': 212,
 'Deirdre Lorenz': 213,
 'Mitch Pileggi': 214,
 'Aidan Turner': 215,
 'David Clennon': 882,
 'Tim DeKay': 216,
 'Brian Whitaker': 217,
 'Maurice LaMarche': 218,
 'Hiroshi Abe': 219,
 'Katherine Waterston': 220,
 'Tyler James Williams': 221,
 'Jamel Debbouze': 222,
 'Edgar Tancangco': 223,
 'Xander Berkeley': 224,
 'Scott Thompson': 225,
 'Anders Holm': 226,
 'Dominic Col\xc3\xb3n': 227,
 'Lindsey Haun': 228,
 'Yuriy Tsurilo': 229,
 'June Diane Raphael': 230,
 'Mandy Gonzalez': 231,
 'Melora Walters': 232,
 'Dylan Schombing': 4178,
 'Michaela Watkins': 234,
 'Debrianna Mansini': 235,
 "Olivia d'Abo": 236,
 'Jay R. Ferguson': 237,
 'Arly Jover': 238,
 'Kyla Wise': 239,
 'Arik Ascherman': 240,
 'Geoff Stults': 241,
 'Allison Dean': 242,
 'Catherine Bell': 243,
 'Liane Balaban': 244,
 'Bill Bailey': 245,
 'Chris Cleveland': 246,
 'Jeff Bridges': 247,
 'Charlie McDermott': 248,
 'Seth Gabel': 4181,
 'Kevin McHale': 249,
 'Melissa Sturm': 250,
 'Swoosie Kurtz': 1094,
 'Tom Everett': 252,
 'Devin Ratray': 253,
 'Billy Burke': 254,
 'Synn\xc3\xb8ve Macody Lund': 255,
 'Omri Katz': 256,
 'Lydia Wilson': 3201,
 'Elodie Yung': 258,
 'Josie Ho': 259,
 'Basher Savage': 260,
 'Roxane Duran': 5535,
 'Chris Penn': 261,
 'Ximena Ayala': 262,
 'Mary Norwood': 263,
 'Luke Perry': 264,
 'Shiree Nelson': 265,
 'Mary Lynn Rajskub': 266,
 'Robert J. Wilke': 267,
 'Rene Russo': 268,
 'Julia Sawalha': 269,
 'Linda Harrison': 270,
 'Gary Oldman': 271,
 'Brock Baker': 272,
 'Shenae Grimes-Beech': 46,
 'Miranda Otto': 274,
 'Collins Pennie': 275,
 'Archie Panjabi': 276,
 'Jennifer Schwalbach Smith': 1563,
 'James Lance': 278,
 'Seth MacFarlane': 279,
 'Eileen Brennan': 280,
 'Mara Wilson': 281,
 'Zackary Steven Graham': 282,
 'Magda Apanowicz': 283,
 'Trevor Howard': 284,
 'Richard Schiff': 285,
 'Yassie Hawkes': 286,
 'Scott A. Martin': 287,
 'Burt Ward': 288,
 'Gina Holden': 289,
 'Alan Van Sprang': 1649,
 'Ane Dahl Torp': 291,
 'Magi Avila': 292,
 'Emma Eliza Regan': 293,
 'Sid Caesar': 294,
 'Amber Rose Revah': 295,
 'Kang-ho Song': 1688,
 'Gloria Votsis': 298,
 'David Denman': 299,
 'Tonya Lee Williams': 300,
 'Alice Greczyn': 3206,
 'Rich Pecci': 302,
 'Hettienne Park': 303,
 'Travis Betz': 304,
 'Fionnula Flanagan': 305,
 'Mare Winningham': 306,
 'Kylie Minogue': 307,
 'Josh Charles': 308,
 'Taylor Negron': 309,
 'Dan Byrd': 1755,
 'Nicholas Lea': 311,
 'Louise Sorel': 312,
 'Nathaniel Parker': 313,
 'Tatsuo Matsumura': 314,
 'Michael Beck': 315,
 'Sue Corcoran': 1788,
 'Adrian Gonzalez': 317,
 'Ana Imnadze': 318,
 'Kate Ashfield': 319,
 'Steve Byers': 1803,
 'Mark Christopher Lawrence': 321,
 'Vauxhall Jermaine': 322,
 'Sabrina Ferilli': 323,
 'Cabrina Collesides': 324,
 'Ted Wass': 325,
 'Anthony Edwards': 326,
 'Casey Kasem': 327,
 'Roger Lloyd Pack': 328,
 'Matthew R. Anderson': 329,
 'Richard Lynch': 330,
 'Lena Olin': 331,
 'Elliott Gould': 332,
 'Lydia Hearst': 333,
 'Mark Valley': 334,
 'Randeep Hooda': 335,
 'Tyrone Benskin': 336,
 'Gary Dourdan': 337,
 'Felix Avitia': 338,
 'Celina Jade': 339,
 'Marshall Allman': 340,
 'Sina Amedson': 341,
 'Michel Bouquet': 342,
 'Bahare Seddiqi': 343,
 'Kristen Connolly': 344,
 'Vanessa Aspillaga': 345,
 'Steven Waddington': 346,
 'Jamie Kennedy': 347,
 'Jennifer Ehle': 348,
 'Steve Bastoni': 349,
 'Deborah Mailman': 350,
 'Maggie Cheung': 351,
 'Samantha McLeod': 352,
 'Jordan Carlos': 353,
 'Regi Davis': 354,
 'Ritchie Montgomery': 355,
 'Martin Starr': 356,
 'Daniel Kaluuya': 357,
 'Jack Hawkins': 358,
 'Sean Whalen': 359,
 'Eva Green': 360,
 'Amelia Giancarlo': 361,
 'Terence Yin': 362,
 'Veronica Ferres': 363,
 'Judith Hill': 364,
 'Sylvester Stallone': 365,
 'Shelley Waggener': 366,
 'Mary Catherine Garrison': 367,
 'Jerry Brown': 368,
 'Kristen Johnston': 369,
 'Theresa Randle': 370,
 'Darryl Cox': 371,
 'Jimmy Jean-Louis': 372,
 'Samira Wiley': 373,
 'Karin Dor': 374,
 'Jamison Stalsworth': 375,
 'Tatyana Ali': 376,
 'Lily James': 377,
 'Derek Luke': 378,
 'Kevin Rankin': 379,
 'Nancy Kyes': 380,
 'Patrick Kilpatrick': 381,
 'Johnny Lewis': 382,
 'Jamie Draven': 2890,
 'Kenneth Mitchell': 383,
 'Olivia Newton-John': 5227,
 'Erik Estrada': 385,
 'Al Pacino': 386,
 'Felicia Pearson': 387,
 'Matt McCoy': 388,
 'Damon Albarn': 389,
 'David Proval': 390,
 'Amy Poehler': 391,
 'Devid Striesow': 392,
 'Leighton Meester': 393,
 'Jennifer Butler': 394,
 'Roger Allam': 395,
 'Nandita Das': 396,
 'Khalid Abdalla': 397,
 'Karra Elejalde': 398,
 'Sarain Boylan': 399,
 'Juan Fern\xc3\xa1ndez': 400,
 'Tom Guiry': 401,
 'Johnny Lever': 402,
 'Charles Grodin': 403,
 'Victor Zinck Jr.': 404,
 'CCH Pounder': 405,
 'Jim Varney': 406,
 'Annie Golden': 407,
 'Sook-Yin Lee': 408,
 'David Margulies': 410,
 'Stephen McCole': 411,
 'Gabriel Bateman': 412,
 'Sofia Vassilieva': 413,
 'Ming-Na Wen': 414,
 'Freddie Jones': 415,
 'Enrique Murciano': 416,
 'Tony Doupe': 417,
 'Vanessa Zima': 418,
 'Michael Parle': 419,
 'Dave Legeno': 420,
 'Malone Thomas': 421,
 'Annabelle Wallis': 422,
 'Adam Ratcliffe': 423,
 'Holly Hunter': 424,
 'Kimberly Elise': 425,
 'Lhakpa Dorji': 426,
 'Rachel Dratch': 4208,
 'Jonathan Frakes': 428,
 'James Callis': 429,
 'Samuel Davis': 430,
 'Claire Geare': 431,
 'Paula Marshall': 432,
 'J. Smith-Cameron': 433,
 'Georgina Chapman': 434,
 'Yolande Moreau': 435,
 'Dove Cameron': 436,
 'Mindy Sterling': 437,
 'Mackenzie Phillips': 5006,
 'Adel Karam': 439,
 'John Meillon': 440,
 'Hutch Dano': 441,
 'Mary McDonnell': 442,
 'Kevin Nash': 443,
 'Tamsin Egerton': 444,
 'Bruce Boxleitner': 445,
 'Sandra Ellis Lafferty': 446,
 'Rafe Spall': 447,
 'Lupe Ontiveros': 448,
 'Roger Cross': 449,
 'James Corden': 450,
 'Craig Hall': 451,
 'Celeste Holm': 452,
 'Jordan Trovillion': 453,
 'Mike Muscat': 1121,
 'Colin Farrell': 455,
 'Drew Waters': 456,
 'Kathleen Rose Perkins': 457,
 'John Witherspoon': 458,
 'Deborah Foreman': 459,
 'Debra Monk': 460,
 'Silvio Muccino': 461,
 'Marri Savinar': 462,
 'Jason Beghe': 4212,
 'Karl E. Landler': 464,
 'Julian Sands': 465,
 'J.K. Simmons': 466,
 'Shannon Elizabeth': 467,
 'Marshall Bell': 468,
 'Ty Burrell': 469,
 'Bella Heathcote': 470,
 'Joe Egan': 471,
 'Jake Gyllenhaal': 472,
 'Jennifer Lee Wiggins': 473,
 'Gina Montana': 474,
 'Rai Alexandra': 475,
 'Deon Richmond': 476,
 'Lee Evans': 477,
 'Andrew Wilson': 478,
 'Wayne Pygram': 479,
 'Roschdy Zem': 480,
 'Richard Masur': 481,
 'Taylor Pigeon': 482,
 'Diahann Carroll': 483,
 'Garrett M. Brown': 484,
 'Meat Loaf': 485,
 'Frances Bay': 486,
 'Marcus Chong': 487,
 'Val Kilmer': 488,
 'Nicki Aycox': 489,
 'Alona Tal': 490,
 'Beno\xc3\xaet Poelvoorde': 491,
 'Jaime Zevallos': 492,
 'Pat Buchanan': 493,
 'Robbie Barnes': 494,
 'Ray McKinnon': 495,
 'Eric Lange': 496,
 'Bob Saget': 497,
 'Ji-won Ha': 498,
 'Nicole Randall Johnson': 499,
 'Ellen Barkin': 500,
 'Dylan Kussman': 501,
 'Maria Thayer': 502,
 'Rijk de Gooyer': 503,
 'Johannes Silberschneider': 504,
 'Betsy Palmer': 505,
 'Aryana Engineer': 506,
 'Pawel Szajda': 507,
 'Teresa Wright': 508,
 'Jasmine Trinca': 509,
 'Laura Harris': 510,
 'Lauren Sweetser': 511,
 'Robert Clohessy': 512,
 'Morgan Fairchild': 513,
 'Alessandra Mastronardi': 5243,
 'Joely Richardson': 515,
 'Annie Parisse': 516,
 'Bruce Hopkins': 517,
 'Cullen Douglas': 518,
 'Steve Railsback': 519,
 'Kenneth Mars': 520,
 'Jordi Moll\xc3\xa0': 521,
 'Joseph Pilato': 522,
 'Meredith Hagner': 523,
 'David Heyman': 524,
 'Nina Arianda': 525,
 'Woo-hee Chun': 526,
 'Royce Johnson': 527,
 'Al Sapienza': 528,
 'Andrew Bujalski': 4223,
 'Waris Ahluwalia': 530,
 'Joey Lawrence': 531,
 'Tom Ardavany': 532,
 'Gary Daniels': 533,
 'David Keith': 534,
 'Matthew McConaughey': 535,
 'Krystyna Janda': 536,
 'Sarah Callan': 537,
 'Peter Marquardt': 538,
 'Conrad Vernon': 539,
 'Mathew Buck': 540,
 'Paul Elia': 541,
 'Cynthia Rhodes': 542,
 'Tim Rice': 543,
 'Bruno Ganz': 544,
 'Katrina Kaif': 546,
 'Mihalis Giannatos': 547,
 'Zak Penn': 548,
 'Kevin Clash': 549,
 'Melina Kanakaredes': 550,
 'Elizabeth Perkins': 551,
 'Ari Folman': 552,
 'Jemma Curran': 553,
 'Nat Wolff': 554,
 'Rosalind Harris': 555,
 'Don Rickles': 556,
 'Yenny Paola Vega': 557,
 'Jesse Tyler Ferguson': 558,
 'Angelo Rossitto': 559,
 'Ellie Cornell': 560,
 'Rufus Sewell': 561,
 'Enrique Iglesias': 562,
 'Sachiko Ishida': 563,
 'Jeannetta Arnette': 564,
 'Holt McCallany': 3238,
 'Romeo Miller': 566,
 'Edward Everett Horton': 567,
 'Randy Jones': 568,
 'Cicely Tyson': 569,
 'Christopher Webster': 570,
 'Kris Sommerville': 571,
 'Parminder Nagra': 572,
 'Jason Trost': 573,
 'Theresa Merritt': 574,
 'Michael Elian': 575,
 'Dickie Jones': 576,
 'Steve Whitmire': 577,
 'John Glover': 578,
 'Richard Thomas': 579,
 'Sam Riley': 580,
 'Wendie Malick': 581,
 'Lucy Gordon': 582,
 'David Kelly': 583,
 'Maura Tierney': 584,
 'Neil Maskell': 585,
 'Jason Gray-Stanford': 586,
 "Brian d'Arcy James": 587,
 'Adhir Kalyan': 588,
 'Lance Gross': 589,
 'Cyndi Lauper': 590,
 'Kimberly Beck': 591,
 'Chris Lowell': 592,
 'Joseba Ugalde': 593,
 'Jeff Anderson': 594,
 'Jessica Bowman': 595,
 'Matt Smith': 596,
 'Luke Bracey': 597,
 'Leehom Wang': 598,
 'Lisa Arnold': 599,
 'Clive Standen': 600,
 'Bill Paterson': 601,
 'Sergi L\xc3\xb3pez': 602,
 'Alex Jennings': 603,
 'Dustin Milligan': 604,
 'Montgomery Clift': 6155,
 'Sabrina Revelle': 605,
 'Matt Bushell': 606,
 'Shona Kay': 607,
 'Jack Canfield': 609,
 'Ashanti': 610,
 'Drew Carey': 611,
 'Sung-jun Yoo': 3511,
 'Sheldon Bailey': 613,
 'Heather Matarazzo': 614,
 'Togo Igawa': 615,
 'Bob Peck': 616,
 'Natalie Canerday': 617,
 'Michael Emerson': 618,
 'Chulpan Khamatova': 619,
 'Nikki Griffin': 620,
 'Gavin MacLeod': 621,
 'Catherine Hicks': 622,
 'Brandy Norwood': 623,
 'Zoe Kazan': 624,
 'Tim Conway': 625,
 'George Harrison': 626,
 'Fana Mokoena': 2196,
 'Chandler Canterbury': 628,
 'James Urbaniak': 629,
 'Josh Robert Thompson': 630,
 'Justin Chambers': 5259,
 'George C. Scott': 632,
 'Thomas Stroppel': 633,
 'Jin Akanishi': 3606,
 'Olivia Crocicchia': 635,
 'Teri Garr': 3629,
 'Cara Horgan': 637,
 'Milos Forman': 638,
 'Jason Marsden': 639,
 'Joe Mantegna': 640,
 'Mark Addy': 641,
 'Guillermo Francella': 642,
 'Cynthia Watros': 643,
 'Beno\xc3\xaet Magimel': 644,
 'Sam Reid': 645,
 'Ken Davitian': 646,
 'J\xc3\xb8rgen Langhelle': 647,
 'Seema Biswas': 648,
 'Rachel Brosnahan': 649,
 'Lisa Gaye': 650,
 'Chuck Mitchell': 1157,
 'Donna Murphy': 652,
 'Dichen Lachman': 653,
 'Colette Divine': 654,
 'Antonio Sabato Jr.': 655,
 'Rita Moreno': 656,
 'James DeBello': 657,
 'Kate Luyben': 658,
 'Mike Farrell': 659,
 'Judith Anderson': 660,
 'Alice Pol': 661,
 'Fran\xc3\xa7ois Berl\xc3\xa9and': 662,
 'Nadine Labaki': 663,
 'Alison Chand': 664,
 'Kent McCord': 665,
 'Eric Elmosnino': 666,
 'Bob Dole': 667,
 'Jan Cornet': 668,
 'Evelyn Jefferson': 669,
 'Scott Schwartz': 670,
 'Quvenzhan\xc3\xa9 Wallis': 671,
 'Daniel Tay': 672,
 'Patton Oswalt': 3265,
 'David Schaal': 674,
 'Ami Ayalon': 675,
 'Melissa Altro': 676,
 'Elsa Lanchester': 677,
 'Laurence Olivier': 678,
 'Tsianina Joelson': 679,
 'Angus Sampson': 680,
 'Pat Hingle': 681,
 'Michael Greyeyes': 682,
 'Griffin Dunne': 683,
 "Tatum O'Neal": 685,
 'Linda Cardellini': 686,
 'Tara Platt': 687,
 'Derick Martini': 5924,
 'Texas Battle': 3956,
 'Boris Kodjoe': 689,
 'David Threlfall': 690,
 'Tim Guinee': 691,
 'Eric Schlosser': 692,
 'Dr. Dre': 693,
 'Melissa Benoist': 694,
 'Dennis L.A. White': 695,
 'Eric Mendenhall': 696,
 'Michael DeLorenzo': 2212,
 'Keir Dullea': 698,
 'Skye McCole Bartusiak': 699,
 'Pei-Pei Cheng': 700,
 'Frances Bavier': 701,
 'Meryl Streep': 702,
 'Zhanna Friske': 703,
 'Brian Blessed': 704,
 'Todd Allen': 705,
 'Greg Collins': 2215,
 'Chad Allen': 707,
 'Russell Hodgkinson': 708,
 'Roscoe Lee Browne': 709,
 'Mike Dopud': 710,
 'Diane Venora': 711,
 'Anatoliy Solonitsyn': 712,
 'Alex Sanborn': 713,
 'Mahadeo Shivraj': 714,
 'Miranda July': 715,
 "James D'Arcy": 716,
 'Fortunato Cerlino': 717,
 'Jensen Ackles': 718,
 'Alex Lawther': 719,
 'Keram Malicki-S\xc3\xa1nchez': 720,
 'Ni Ni': 721,
 'Robert Miano': 722,
 'Charlotte B\xc3\xb8ving': 723,
 'Matthew Daddario': 724,
 'Tim Williams': 725,
 'Kyra Nichols': 726,
 'Gerry Bednob': 727,
 'Drake': 728,
 'Joanna Kulig': 729,
 'Emmanuelle Vaugier': 730,
 'Daniella Alonso': 731,
 'Jarrod Phillips': 732,
 'Karen Young': 4225,
 'Sean Cook': 734,
 'Chris Andrew Ciulla': 735,
 'Selton Mello': 736,
 'Dan Bakkedahl': 737,
 'Skyler Samuels': 738,
 'Adrian Lester': 739,
 'David Alan Grier': 740,
 'Rob Moran': 741,
 "Terry O'Neill": 742,
 'Scarlett Johansson': 744,
 'Shawna Waldron': 745,
 'Ti West': 746,
 'Phaldut Sharma': 1172,
 'Shahab Hosseini': 748,
 'Hugo Stiglitz': 749,
 'Kelli Barrett': 750,
 'Birgitte Hjort S\xc3\xb8rensen': 751,
 'T\xc3\xb3mas Lemarquis': 752,
 'Muse Watson': 753,
 'Rich Ceraulo': 754,
 'Tommy Sheppard': 755,
 'Harris Yulin': 756,
 'Charlie Tahan': 757,
 'Jordan Prentice': 758,
 'Reiner Schwarz': 759,
 'Jonathan Silverman': 760,
 'Darren Healy': 761,
 'Rufus Graham': 762,
 'Sam Anderson': 763,
 'Bertrand Cantat': 764,
 'Indira Varma': 5284,
 'Scott Vance': 766,
 'John Aylward': 767,
 'Bokeem Woodbine': 768,
 'Gregory Cruz': 769,
 'Michelle Nolden': 770,
 'Mark Webber': 771,
 'Joshua Leonard': 772,
 'Jimmy Fallon': 773,
 'Taylor Handley': 774,
 'Miguel Sandoval': 775,
 'Tippi Hedren': 776,
 'Perrey Reeves': 777,
 'Eddie Baroo': 778,
 'Richard Moll': 779,
 'Tamannaah Bhatia': 780,
 'Jurnee Smollett-Bell': 781,
 'Marty Lindsey': 782,
 'Oana Pellea': 783,
 'Hans Matheson': 784,
 'Eddie Izzard': 4502,
 'Bobby Coleman': 786,
 'Michael Nardone': 787,
 'Andr\xc3\xa9 the Giant': 788,
 'Paul Ben-Victor': 789,
 'Imelda Staunton': 790,
 'Jason Patric': 791,
 'Oksana Akinshina': 792,
 'Jenette Goldstein': 793,
 'Louis Mandylor': 794,
 'Jay Adams': 795,
 'Rodrigo De la Serna': 4607,
 'Franco Nero': 797,
 'Tom Burlinson': 798,
 'Hannah Spearritt': 799,
 'Virginie Ledoyen': 800,
 'Chelsey Reist': 801,
 'Jorma Taccone': 802,
 'Keisha Castle-Hughes': 803,
 'Rae Dawn Chong': 804,
 'Silvia Colloca': 805,
 'Peter Gallagher': 806,
 'Ian Ziering': 4673,
 'P\xc3\xa9ter Fancsikai': 808,
 'Rob Morrow': 809,
 'Ferdinando Vetere': 810,
 'Agata Trzebuchowska': 811,
 'Hayley McFarland': 812,
 'Linda Fiorentino': 813,
 'Richard Roundtree': 814,
 'George Newton': 815,
 'Gabrielle Carteris': 816,
 'Betty Hutton': 817,
 'Glen Murphy': 818,
 'Collin Chou': 819,
 'Gaye Brown': 820,
 'Daniel Henney': 821,
 'Brandon Smith': 822,
 'John Gilbert': 823,
 'Ulrich M\xc3\xbche': 824,
 'Chris Brochu': 825,
 'Colin Salmon': 4764,
 'Noam Jenkins': 827,
 'Margaret Hamilton': 828,
 'Hansika Motwani': 829,
 'Ivette Alvarez': 4780,
 'Michael Stuhlbarg': 831,
 'Adam Boyer': 832,
 'Hana Mae Lee': 833,
 'Sameer Ali Khan': 2006,
 'Vanessa Martinez': 4285,
 'Ben Miller': 836,
 'Charles Irving Beale': 837,
 'Carol Kane': 838,
 'Josh Zuckerman': 839,
 'Craig T. Nelson': 840,
 'Adrian Paul': 841,
 'Ryan Gosling': 842,
 'Joyful Drake': 843,
 'Mark Margolis': 844,
 'Mathieu Amalric': 845,
 'Jack Nance': 846,
 'Manuela Velasco': 847,
 'Grigoriy Dobrygin': 848,
 'Tom Cruise': 849,
 'Yaya DaCosta': 850,
 'Liya Kebede': 851,

In [37]:
count = movies['director_name'].value_counts()
count

0       104
1292     26
1506     22
1918     20
1492     20
1224     17
1953     16
1771     16
2018     16
672      15
1742     14
1757     13
1297     13
1124     13
1406     13
2144     13
75       13
1723     13
2097     13
2035     12
416      12
1281     12
2316     12
34       12
615      12
890      12
1168     11
1139     11
2256     11
1158     11
       ...
690       1
550       1
542       1
534       1
450       1
386       1
390       1
394       1
406       1
410       1
418       1
422       1
430       1
438       1
442       1
446       1
458       1
530       1
462       1
466       1
470       1
474       1
490       1
494       1
510       1
514       1
518       1
522       1
526       1
2045      1
Name: director_name, Length: 2399, dtype: int64

In [38]:
all_genres

{'Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Thriller',
 'War',
 'Western'}

In [39]:
content_rating_dict

{nan: 0, 'G': 3, 'PG': 4, 'PG-13': 2, 'R': 1}

In [40]:
count = movies['director_name'].value_counts()
count

0       104
1292     26
1506     22
1918     20
1492     20
1224     17
1953     16
1771     16
2018     16
672      15
1742     14
1757     13
1297     13
1124     13
1406     13
2144     13
75       13
1723     13
2097     13
2035     12
416      12
1281     12
2316     12
34       12
615      12
890      12
1168     11
1139     11
2256     11
1158     11
       ...
690       1
550       1
542       1
534       1
450       1
386       1
390       1
394       1
406       1
410       1
418       1
422       1
430       1
438       1
442       1
446       1
458       1
530       1
462       1
466       1
470       1
474       1
490       1
494       1
510       1
514       1
518       1
522       1
526       1
2045      1
Name: director_name, Length: 2399, dtype: int64

In [47]:
genre_dict

{'Action': 15,
 'Adventure': 11,
 'Animation': 3,
 'Biography': 22,
 'Comedy': 5,
 'Crime': 1,
 'Documentary': 16,
 'Drama': 14,
 'Family': 19,
 'Fantasy': 20,
 'Film-Noir': 8,
 'History': 18,
 'Horror': 7,
 'Music': 4,
 'Musical': 17,
 'Mystery': 12,
 'Romance': 2,
 'Sci-Fi': 0,
 'Short': 13,
 'Sport': 21,
 'Thriller': 10,
 'War': 6,
 'Western': 9}